<footer>
    <p>Andr&eacute; Guedes &bull; 2025</p>

    {#TODO: Add Urls and icons#}
    <ul>
        <li><a href="">Linkedin</a></li>
        <li><a href="">GitHub</a></li>
    <ul>

    <p>
        Built with <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a>
    </p>
</footer>