<footer>
    <p>Andr&eacute; Guedes &bull; 2025</p>

    <ul>
        <li>
            <a href="/feed/feed.xml" title="Feed">
                <img src="/img/icon-feed.svg" />
            </a>
        </li>
        <li class="spacer">
            <a href="https://www.11ty.dev/" title="11ty">
                <img src="/img/icon-11ty.svg" />
            </a>
        </li>

        <li>
            <a href="https://www.linkedin.com/in/guedes-andre/" title="LinkedIn">
                <img src="/img/icon-linkedin.svg" />
            </a>
        </li>
        <li>
            <a href="https://github.com/crei0" title="GitHub">
                <img src="/img/icon-github.svg" />
            </a>
        </li>
    </ul>
</footer>