---
layout: layouts/base.njk
---

{# Only include the syntax highlighter CSS on blog posts, included with the CSS per-page bundle #}
<style>{% include "node_modules/prismjs/themes/prism-okaidia.css" %}</style>
<style>{% include "css/prism-diff.css" %}</style>

<h1>{{ title }}</h1>


<div id="post-metadata">
    <div>
        <strong>Date</strong>
    </div>
    <div>
        <time datetime="{{ page.date | htmlDateString }}">
            {{ page.date | readableDate }}
        </time>
    </div>
    
    {% if eleventyComputed.dateLastModified %}
    <div>
        <strong>Date modified</strong>
    </div>
    <div>
        <time datetime="{{ eleventyComputed.dateLastModified | htmlDateString }}">
            {{ eleventyComputed.dateLastModified | readableDate }}
        </time>
    </div>
    {% endif %}

    <div>
        <strong>Tags</strong>
    </div>
    <div id="post-metadata-tag">
        {%- for tag in tags | filterTagList %}
            {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
                <a href="{{ tagUrl }}" rel="tag">{{tag}}</a>
        {%- endfor %}
    </div>
</div>

{{ content | safe }}

{%- if collections.posts %}
    {%- set previousPost = collections.posts | getPreviousCollectionItem %}
    {%- set nextPost = collections.posts | getNextCollectionItem %}

    {%- if nextPost or previousPost %}
        <ul class="links-nextprev">
            {%- if previousPost %}
                <li class="links-nextprev-prev">
                    ← Previous<br>
					<a href="{{ previousPost.url }}">
						{{ previousPost.data.title }}
					</a>
				</li>
			{% endif %}

			{%- if nextPost %}
				<li class="links-nextprev-next">
					Next →<br>
					<a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
				</li>
			{% endif %}

		</ul>
	{%- endif %}
{%- endif %}